In [1]:
import pymysql
from sqlalchemy import create_engine, text
from pandas import read_sql_query
from dateutil.relativedelta import relativedelta


from pydantic import (
    BaseSettings,
    Field
)

class Settings(BaseSettings):
    project_title: str = "Caris DATA API SERVICE"
    project_description: str = "REST API service for the datim reports and other relevant data analysis reports"
    project_version: str = "v0.0.1"
    project_docs_url: str = "/"
    
    DATIM_DESCRIPTION: str = "Get the datim data for dreams indicator - AGYW_PREV"
    DATIM_SUMMARY: str = "Get the datim data for dreams indicator - AGYW_PREV"

    DISTRICT_DESCRIPTION: str = "Get the district data for dreams indicator - AGYW_PREV"
    DISTRICT_SUMMARY: str = "Get the district data for dreams indicator - AGYW_PREV"
    
    
    mysql_username: str = Field(...,env='MYSQL_USERNAME')
    mysql_password: str = Field(...,env='MYSQL_PASSWORD')
    mysql_host: str = Field(...,env='MYSQL_HOST')
    mysql_port: int = Field(...,env='MYSQL_PORT')
    mysql_database: str = Field(...,env='MYSQL_DATABASE')
    
    commcare_username: str = Field(...,env='COMMCARE_USERNAME')
    commcare_password: str = Field(...,env='COMMCARE_PASSWORD')
    
    class Config:
        env_prefix = ""
        case_sensitive = False
        env_file = ".env"
        env_file_encoding = "utf-8"
        
        
        
settings = Settings()

In [2]:
EID = '''
select Patient_code,Code_mere,if(Code_mere in (select patient_code from patient),'yes','no') as Liaison_mere,left(patient_code,8) as Site_or_lab_code, hospital,Office, if(Network is not null,Network,'Autres') as Network, date_of_birth, gender, start_date as arv_start, if(Office = 'CAP', 'HUJ', lab) as lab, date_blood_taken, date_caris_received_sample, date_lab_received_sample, Result,
if(timestampdiff(day,date_of_birth,date_blood_taken)<=61,if(timestampdiff(day,date_of_birth,date_blood_taken)>=0,'0_2',''),if(timestampdiff(day,date_of_birth,date_blood_taken)<=365,if(timestampdiff(day,date_of_birth,date_blood_taken)>61,'2_12',''),'')) as tranche_age
,if(arv is not null,'yes','') as on_arv, timestampdiff(day,date_lab_received_sample,now()) as total_jours_Labo, timestampdiff(day,date_blood_taken,pcr_result_date) as from_specimen_to_result, timestampdiff(day,date_blood_taken,date_caris_received_sample) as from_specimen_to_caris,
timestampdiff(day,date_caris_received_sample,date_lab_received_sample) as from_caris_to_lab, timestampdiff(day,date_lab_received_sample,pcr_result_date) as from_lab_to_result,

if(!(pcr_result_date is null or pcr_result_date ='0000-00-00') and !(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'),timestampdiff(day,date_lab_received_sample,pcr_result_date) , IF(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'), timestampdiff(day,date_lab_received_sample,now()),"not_in_lab")) as days_in_lab,
case 
	when if(!(pcr_result_date is null or pcr_result_date ='0000-00-00') and !(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'),timestampdiff(day,date_lab_received_sample,pcr_result_date) , IF(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'), timestampdiff(day,date_lab_received_sample,now()),"not_in_lab"))>15 then 'greater than 15'
    when if(!(pcr_result_date is null or pcr_result_date ='0000-00-00') and !(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'),timestampdiff(day,date_lab_received_sample,pcr_result_date) , IF(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'), timestampdiff(day,date_lab_received_sample,now()),"not_in_lab"))<=15 then 'less or equal to 15'
    else'not in lab' end as Nbres_jours_Labo
   , 
   #timestampdiff(day,date_caris_received_sample,now()) as Total_jours_Caris,
   
if(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'),timestampdiff(day,date_caris_received_sample,date_lab_received_sample),timestampdiff(day,date_caris_received_sample,now())) as days_between_caris_lab,
case 
	when if(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00') ,timestampdiff(day,date_caris_received_sample,date_lab_received_sample),timestampdiff(day,date_caris_received_sample,now())) >5 then 'greater than 5'
    when if(!(date_lab_received_sample is null or date_lab_received_sample ='0000-00-00'),timestampdiff(day,date_caris_received_sample,date_lab_received_sample),timestampdiff(day,date_caris_received_sample,now())) <=5 then 'less or equal to 5'
 end as Nbres_jours_Caris,

if(pcr_result=1,if(patient_info is not null,if(is_abandoned=0 and is_dead=0,'no','yes'),''),'') as pos_dead_abandon
,death_date
,abandoned_date
,pcr_result_date,
case 
    when month(date_blood_taken) between 10 and 12 then 'Q1'
    when month(date_blood_taken) between 1 and 3 then 'Q2'
    when month(date_blood_taken) between 4 and 6 then 'Q3'
    else 'Q4'
 End as Quarter,  -- month(date_blood_taken)  as month_blood_taken,
 #year(date_blood_taken) as year_test,
if( month(date_blood_taken) between 10 and 12 ,year(date_blood_taken)+1,year(date_blood_taken) ) as Year
from(
select patient_code,tme.id_patient as id_in_mere ,concat(tme.mother_city_code,'/',tme.mother_hospital_code,'/',tme.mother_code) as Code_mere, date_of_birth, tracking_infant.id_patient as patient_info, date_blood_taken, pcr_result,arv.id_patient as arv, is_dead, is_abandoned, death_date, abandoned_date, pcr_result_date, date_caris_received_sample, date_lab_received_sample,
lookup_testing_specimen_result.name as _result, if(lookup_testing_specimen_result.name="", 'En cours',lookup_testing_specimen_result.name) as Result,lookup_hospital.name as hospital,lookup_network.name as Network,lookup_hospital.office as Office, lookup_testing_gender.name as gender, tracking_regime.start_date, lookup_lab.name as lab from(
    select * from testing_specimen t1 where timestampdiff(day,date_of_birth,date_blood_taken)<=365 and date_blood_taken between '2014-10-01' and '2030-12-31'
    and date_blood_taken=(select min(date_blood_taken) from testing_specimen t2 where t1.id_patient=t2.id_patient)
)test_1
left join patient pa on pa.id=test_1.id_patient
left join testing_mereenfant tme on pa.id= tme.id_patient
left join
(select * from(
    select id_patient from tracking_followup where on_arv=1
    union
    select id_patient from tracking_regime where category='regime_infant_treatment'
    )o
)arv on arv.id_patient=test_1.id_patient
left join tracking_infant on tracking_infant.id_patient=test_1.id_patient
left join lookup_testing_specimen_result on pcr_result=lookup_testing_specimen_result.id
left join lookup_hospital on concat(lookup_hospital.city_code,'/',lookup_hospital.hospital_code)=left(patient_code,8)
left join tracking_regime on tracking_regime.id_patient=test_1.id_patient
left join lookup_testing_gender on lookup_testing_gender.id=gender
left join lookup_lab on lookup_hospital.id_lab=lookup_lab.id
left join lookup_network on lookup_hospital.network=lookup_network.id
where timestampdiff(day,test_1.date_of_birth,test_1.date_blood_taken)<=365 and test_1.date_blood_taken between '2014-10-01' and '2030-12-31' and linked_to_id_patient=0
group by test_1.id_patient) final
'''

engine = create_engine(
    f"mysql+pymysql://{settings.mysql_username}:{settings.mysql_password}@{settings.mysql_host}/{settings.mysql_database}")


eid = read_sql_query(text(EID), engine.connect(), parse_dates=True)

# close the pool of connection
engine.dispose()

In [3]:
eid.columns

Index(['Patient_code', 'Code_mere', 'Liaison_mere', 'Site_or_lab_code',
       'hospital', 'Office', 'Network', 'date_of_birth', 'gender', 'arv_start',
       'lab', 'date_blood_taken', 'date_caris_received_sample',
       'date_lab_received_sample', 'Result', 'tranche_age', 'on_arv',
       'total_jours_Labo', 'from_specimen_to_result', 'from_specimen_to_caris',
       'from_caris_to_lab', 'from_lab_to_result', 'days_in_lab',
       'Nbres_jours_Labo', 'days_between_caris_lab', 'Nbres_jours_Caris',
       'pos_dead_abandon', 'death_date', 'abandoned_date', 'pcr_result_date',
       'Quarter', 'Year'],
      dtype='object')

In [4]:
eid.rename(columns = {'Site_or_lab_code' : 'CODE LABO'}, inplace = True)

In [5]:
#eid.tranche_age.unique()
eid.Result.unique()

array(['ADN VIH-1 Non-Detècté', 'En cours', 'ADN VIH-1 Detècté',
       'Autre DBS', 'Correction a faire'], dtype=object)

In [6]:
eid['calculated_ageDiff'] = eid.apply(lambda eid: relativedelta(eid.date_blood_taken, eid.date_of_birth).months,axis=1)
eid['calculated_ageDiff'] = eid['calculated_ageDiff'].abs()

In [7]:
eid.calculated_ageDiff.unique()

array([ 1,  6, 10,  0,  8,  7,  5,  9,  2, 11,  4,  3])

In [8]:
eid.loc[(eid.calculated_ageDiff>=0) & (eid.calculated_ageDiff<=2),"tranche_age"] = "0_2"
eid.loc[(eid.calculated_ageDiff>2) & (eid.calculated_ageDiff<=12),"tranche_age"] = "2_12"

In [9]:
eid.tranche_age.unique()

array(['0_2', '2_12'], dtype=object)

In [10]:
#----------------------------------------------------------------------------------------------------------------------

period_1 = 'Q1'
year = 2023
start_date = '1er Octobre'

In [11]:
eid.Year.drop_duplicates().sort_values().tolist()
#eid.Quarter.drop_duplicates().sort_values().tolist()
#eid.Network.drop_duplicates().sort_values().tolist()

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [12]:
def pmtctEID_heiPos_ON_ARV(eid, year=None):
    if year == None:
        eid_Qi = eid
    else:
        eid_Qi = eid[(eid['Year'] == year)]


    #Nombre de spécimens par tranche d'âge
    PT = eid_Qi.pivot_table(values='Patient_code', index = 'tranche_age', aggfunc = len, fill_value = 0, margins = True, margins_name ='Total')
    PT.rename(columns = {'Patient_code' : 'Spécimens prélevés'}, inplace = True)

    #Pourcentage
    PTp = round(PT.div(PT.iloc[-1,:], axis = 1), 2)*100
    PTp.rename(columns = {'Spécimens prélevés' : '% Spécimens prélevés'}, inplace = True)

    # Nombre de positif
    eid_positive = eid_Qi[eid_Qi['Result'] == 'ADN VIH-1 Detècté']
    PT2 = eid_positive.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name ='Total')
    PT2.rename(columns = {'Patient_code' : 'Enfants positifs'}, inplace = True)

    #Nombre sous ARV
    eid_on_arv = eid_positive[eid_positive['on_arv'] == 'yes']
    PT3 = eid_on_arv.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name = 'Total')
    PT3.rename(columns = {'Patient_code' : 'Sous ARV'}, inplace = True)

    #Enfants sans résultat
    eid_no_result = eid_Qi[(eid_Qi['Result'] != 'ADN VIH-1 Non-Detècté') & (eid_Qi['Result'] != 'ADN VIH-1 Detècté')]
    PT4 = eid_no_result.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name = 'Total')
    PT4.rename(columns = {'Patient_code' : 'Sans résultat'}, inplace =True)
    
    PT4p = round(PT4.div(PT4.iloc[-1,:], axis = 1), 2)*100
    PT4p.rename(columns = {'Sans résultat' : '% Sans résultat'}, inplace = True)

    #Concaténation des données et tableau final
    #EID = PT.merge(PTp, on = 'tranche_age', how = 'left').merge(PT2, on = 'tranche_age', how = 'left').merge(PT3, on = 'tranche_age', how = 'left').merge(PT4, on = 'tranche_age', how = 'left')
    EID = PT.merge(PTp, on = 'tranche_age', how = 'left').merge(PT2, on = 'tranche_age', how = 'left').merge(PT3, on = 'tranche_age', how = 'left').merge(PT4, on = 'tranche_age', how = 'left').merge(PT4p, on = 'tranche_age', how = 'left')
    EID.reset_index(inplace = True)
    EID = EID.fillna(0)
    return EID



#pmtctEID_heiPos_ON_ARV(eid,2023)
pmtctEID_heiPos_ON_ARV(eid)

,tranche_age,Spécimens prélevés,% Spécimens prélevés,Enfants positifs,Sous ARV,Sans résultat,% Sans résultat
0,0_2,21210,78.0,659,538,802,75.0
1,2_12,5813,22.0,655,461,273,25.0
2,Total,27023,100.0,1314,999,1075,100.0

In [13]:
table = pmtctEID_heiPos_ON_ARV(eid)

table.to_dict('records')

[{'tranche_age': '0_2',
  'Spécimens prélevés': 21210,
  '% Spécimens prélevés': 78.0,
  'Enfants positifs': 659,
  'Sous ARV': 538,
  'Sans résultat': 802,
  '% Sans résultat': 75.0},
 {'tranche_age': '2_12',
  'Spécimens prélevés': 5813,
  '% Spécimens prélevés': 22.0,
  'Enfants positifs': 655,
  'Sous ARV': 461,
  'Sans résultat': 273,
  '% Sans résultat': 25.0},
 {'tranche_age': 'Total',
  'Spécimens prélevés': 27023,
  '% Spécimens prélevés': 100.0,
  'Enfants positifs': 1314,
  'Sous ARV': 999,
  'Sans résultat': 1075,
  '% Sans résultat': 100.0}]

In [14]:

class Eid():
    
    @classmethod
    def get_filter_title(cls,eid):
        year = eid.Year.drop_duplicates().sort_values().tolist()
        quarter = eid.Quarter.drop_duplicates().sort_values().tolist()
        network = eid.Network.drop_duplicates().sort_values().tolist()
        return {
            "year_title": year,
            "quarter_title": quarter,
            "network_title": network
        }
    
    @classmethod
    def pmtctEID_heiPos_ON_ARV(cls,eid, year=None,quarter=None, network=None):
        if (year is None and quarter is not None and network is not None):
            eid_Qi = eid[(eid.Quarter==quarter)&(eid.Network==network)]
        elif(quarter is None and year is not None and network is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Network==network)]
        elif(network is None and year is not None and quarter is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Quarter==quarter)]
        elif(year is not None and quarter is None and network is None):
            eid_Qi = eid[(eid.Year==year)]
        elif(quarter is not None and year is None and network is None):
            eid_Qi = eid[(eid.Quarter==quarter)]
        elif(network is not None and year is None and quarter is None):
            eid_Qi = eid[(eid.Network==network)]
        elif(year is not None and quarter is not None and network is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Quarter==quarter)&(eid.Network==network)]
        else:
            eid_Qi = eid
        
        #Nombre de spécimens par tranche d'âge
        PT = eid_Qi.pivot_table(values='Patient_code', index = 'tranche_age', aggfunc = len, fill_value = 0, margins = True, margins_name ='Total')
        PT.rename(columns = {'Patient_code' : 'Spécimens prélevés'}, inplace = True)

        #Pourcentage
        PTp = round(PT.div(PT.iloc[-1,:], axis = 1), 2)*100
        PTp.rename(columns = {'Spécimens prélevés' : '% Spécimens prélevés'}, inplace = True)

        # Nombre de positif
        eid_positive = eid_Qi[eid_Qi['Result'] == 'ADN VIH-1 Detècté']
        PT2 = eid_positive.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name ='Total')
        PT2.rename(columns = {'Patient_code' : 'Enfants positifs'}, inplace = True)

        #Nombre sous ARV
        eid_on_arv = eid_positive[eid_positive['on_arv'] == 'yes']
        PT3 = eid_on_arv.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name = 'Total')
        PT3.rename(columns = {'Patient_code' : 'Sous ARV'}, inplace = True)

        #Enfants sans résultat
        eid_no_result = eid_Qi[(eid_Qi['Result'] != 'ADN VIH-1 Non-Detècté') & (eid_Qi['Result'] != 'ADN VIH-1 Detècté')]
        PT4 = eid_no_result.pivot_table(values = 'Patient_code', index = 'tranche_age', aggfunc = len, margins = True, margins_name = 'Total')
        PT4.rename(columns = {'Patient_code' : 'Sans résultat'}, inplace =True)
        
        PT4p = round(PT4.div(PT4.iloc[-1,:], axis = 1), 2)*100
        PT4p.rename(columns = {'Sans résultat' : '% Sans résultat'}, inplace = True)

        #Concaténation des données et tableau final
        #EID = PT.merge(PTp, on = 'tranche_age', how = 'left').merge(PT2, on = 'tranche_age', how = 'left').merge(PT3, on = 'tranche_age', how = 'left').merge(PT4, on = 'tranche_age', how = 'left')
        EID = PT.merge(PTp, on = 'tranche_age', how = 'left').merge(PT2, on = 'tranche_age', how = 'left').merge(PT3, on = 'tranche_age', how = 'left').merge(PT4, on = 'tranche_age', how = 'left').merge(PT4p, on = 'tranche_age', how = 'left')
        EID.reset_index(inplace = True)
        EID = EID.fillna(0)
        return EID

In [15]:
Eid.pmtctEID_heiPos_ON_ARV(eid,year=2023,quarter='Q2', network= 'CMMB')

,tranche_age,Spécimens prélevés,% Spécimens prélevés,Enfants positifs,Sous ARV,Sans résultat,% Sans résultat
0,0_2,96,83.0,0.0,0.0,26,87.0
1,2_12,20,17.0,2.0,2.0,4,13.0
2,Total,116,100.0,2.0,2.0,30,100.0

In [16]:
Eid.get_filter_title(eid)["network_title"]

['Autres',
 'BRIDGE',
 'CDS',
 'CMMB',
 'FOSREF',
 'Fondation Saint-Luc',
 'GHESKIO',
 'I-TECH',
 'ICAP',
 'IMA',
 'Kore Sante',
 'MSPP',
 'PIH',
 'Santé',
 'UGP']

In [17]:
Eid.get_filter_title(eid)["quarter_title"]

['Q1', 'Q2', 'Q3', 'Q4']

In [18]:
Eid.get_filter_title(eid)["year_title"]

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [19]:
eid.Liaison_mere.unique()

array(['no', 'yes'], dtype=object)

In [20]:

class StatusEid():
    
    @classmethod
    def get_filter_title(cls,eid):
        year = eid.Year.drop_duplicates().sort_values().tolist()
        quarter = eid.Quarter.drop_duplicates().sort_values().tolist()
        office = eid.Office.drop_duplicates().sort_values().tolist()
        hospital = eid.hospital.drop_duplicates().sort_values().tolist()
        result = eid.Result.drop_duplicates().sort_values().tolist()
        tranche_age = eid.tranche_age.drop_duplicates().sort_values().tolist()
        liaison_mere = eid.Liaison_mere.drop_duplicates().sort_values().tolist()
        return {
            "year_title": year,
            "quarter_title": quarter,
            "office_title": office,
            "hospital_title": hospital,
            "result_title": result,
            "tranche_age_title": tranche_age,
            "liaison_mere_title": liaison_mere
        }
    
    @classmethod
    def pcr_status(cls,eid, year=None,office=None, hospital=None):
        if (year is None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Office==office)&(eid.hospital==hospital)]
        elif(office is None and year is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.hospital==hospital)]
        elif(hospital is None and year is not None and office is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)]
        elif(year is not None and office is None and hospital is None):
            eid_Qi = eid[(eid.Year==year)]
        elif(office is not None and year is None and hospital is None):
            eid_Qi = eid[(eid.Office==office)]
        elif(hospital is not None and year is None and office is None):
            eid_Qi = eid[(eid.hospital==hospital)]
        elif(year is not None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)&(eid.hospital==hospital)]
        else:
            eid_Qi = eid
        
        EID = eid_Qi.pivot_table(
            values='Patient_code',
            index=["Year", "Quarter", "tranche_age"],
            aggfunc=len,
            fill_value = 0, 
        ).reset_index().rename_axis(axis=1).rename(columns={'Patient_code':"Total"})
        return EID 

    @classmethod
    def positivity_status(cls,eid, year=None,office=None, hospital=None):
        if (year is None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Office==office)&(eid.hospital==hospital)]
        elif(office is None and year is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.hospital==hospital)]
        elif(hospital is None and year is not None and office is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)]
        elif(year is not None and office is None and hospital is None):
            eid_Qi = eid[(eid.Year==year)]
        elif(office is not None and year is None and hospital is None):
            eid_Qi = eid[(eid.Office==office)]
        elif(hospital is not None and year is None and office is None):
            eid_Qi = eid[(eid.hospital==hospital)]
        elif(year is not None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)&(eid.hospital==hospital)]
        else:
            eid_Qi = eid
        
        EID = eid_Qi.pivot_table(
            values='Patient_code',
            index=["Year", "Quarter", "tranche_age"],
            aggfunc=len,
            fill_value = 0, 
        ).reset_index().rename_axis(axis=1).rename(columns={'Patient_code':"Total"})
        return EID

    @classmethod
    def liaison_status(cls,eid, year=None,office=None, hospital=None):
        if (year is None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Office==office)&(eid.hospital==hospital)]
        elif(office is None and year is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.hospital==hospital)]
        elif(hospital is None and year is not None and office is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)]
        elif(year is not None and office is None and hospital is None):
            eid_Qi = eid[(eid.Year==year)]
        elif(office is not None and year is None and hospital is None):
            eid_Qi = eid[(eid.Office==office)]
        elif(hospital is not None and year is None and office is None):
            eid_Qi = eid[(eid.hospital==hospital)]
        elif(year is not None and office is not None and hospital is not None):
            eid_Qi = eid[(eid.Year==year)&(eid.Office==office)&(eid.hospital==hospital)]
        else:
            eid_Qi = eid
        
        EID = eid_Qi.pivot_table(
            values='Patient_code',
            columns="Liaison_mere",
            aggfunc=len,
            fill_value = 0,
        )
        return EID

In [21]:
eid.Liaison_mere.unique().tolist()

['no', 'yes']

In [22]:
eid.tranche_age.unique().tolist()

['0_2', '2_12']

In [23]:
eid.pivot_table(
    values='Patient_code',
    columns="Liaison_mere",
    aggfunc=len,
    fill_value = 0,
).to_dict('records')

[{'no': 14401, 'yes': 12622}]

In [24]:
eid.Liaison_mere.value_counts()

Liaison_mere
no     14401
yes    12622
Name: count, dtype: int64

In [25]:
from pandas import DataFrame

In [26]:
eid.pivot_table(
    values='Patient_code',
    index=["Year", "Quarter", "tranche_age"],
    aggfunc=len,
    fill_value = 0, 
).reset_index().rename_axis(axis=1).rename(columns={'Patient_code':"Total"}).to_dict("records")

[{'Year': 2015, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 634},
 {'Year': 2015, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 132},
 {'Year': 2015, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 546},
 {'Year': 2015, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 196},
 {'Year': 2015, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 447},
 {'Year': 2015, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 136},
 {'Year': 2015, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 466},
 {'Year': 2015, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 136},
 {'Year': 2016, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 648},
 {'Year': 2016, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 122},
 {'Year': 2016, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 645},
 {'Year': 2016, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 184},
 {'Year': 2016, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 466},
 {'Year': 2016, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 212},
 {'Year': 2016, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 423},
 {'Year': 2016, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 170},
 {'Year': 2017, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 588},
 {'Year': 2017, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 105},
 {'Year': 2017, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 645},
 {'Year': 2017, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 191},
 {'Year': 2017, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 589},
 {'Year': 2017, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 188},
 {'Year': 2017, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 600},
 {'Year': 2017, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 168},
 {'Year': 2018, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 777},
 {'Year': 2018, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 134},
 {'Year': 2018, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 742},
 {'Year': 2018, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 179},
 {'Year': 2018, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 544},
 {'Year': 2018, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 174},
 {'Year': 2018, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 642},
 {'Year': 2018, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 182},
 {'Year': 2019, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 778},
 {'Year': 2019, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 116},
 {'Year': 2019, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 797},
 {'Year': 2019, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 177},
 {'Year': 2019, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 715},
 {'Year': 2019, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 228},
 {'Year': 2019, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 660},
 {'Year': 2019, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 200},
 {'Year': 2020, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 892},
 {'Year': 2020, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 209},
 {'Year': 2020, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 789},
 {'Year': 2020, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 312},
 {'Year': 2020, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 570},
 {'Year': 2020, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 194},
 {'Year': 2020, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 636},
 {'Year': 2020, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 259},
 {'Year': 2021, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 813},
 {'Year': 2021, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 161},
 {'Year': 2021, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 717},
 {'Year': 2021, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 209},
 {'Year': 2021, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 562},
 {'Year': 2021, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 181},
 {'Year': 2021, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 612},
 {'Year': 2021, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 140},
 {'Year': 2022, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 733},
 {'Year': 2022, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 111},
 {'Year': 2022, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 713},
 {'Year': 2022, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 206},
 {'Year': 2022, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 488},
 {'Year': 2022, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 172},
 {'Year': 2022, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 348},
 {'Year': 2022, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 90},
 {'Year': 2023, 'Quarter': 'Q1', 'tranche_age': '0_2', 'Total': 472},
 {'Year': 2023, 'Quarter': 'Q1', 'tranche_age': '2_12', 'Total': 94},
 {'Year': 2023, 'Quarter': 'Q2', 'tranche_age': '0_2', 'Total': 348},
 {'Year': 2023, 'Quarter': 'Q2', 'tranche_age': '2_12', 'Total': 84},
 {'Year': 2023, 'Quarter': 'Q3', 'tranche_age': '0_2', 'Total': 145},
 {'Year': 2023, 'Quarter': 'Q3', 'tranche_age': '2_12', 'Total': 54},
 {'Year': 2023, 'Quarter': 'Q4', 'tranche_age': '0_2', 'Total': 20},
 {'Year': 2023, 'Quarter': 'Q4', 'tranche_age': '2_12', 'Total': 7}]

In [27]:
eid.Office.unique()

array(['CAP', 'PAP', 'GON', 'JER', 'PDP', 'CAY', 'BOM', None],
      dtype=object)